body
{
    padding: 0;
    margin: 0;
}
#header
{
    background-color: darkblue;
    color: black;
    display: inline-block;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    color: white;

}
#menu
{
    display: inline-block;
    float: left;
    position: relative;
    background-color: darkcyan;
    color: white;
    width: 300px;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
a
{
    color: white;
}
li
{
    padding: 10px;
}